body{
    background-image: url(background-destination-desktop.jpg);
    background-repeat: none;
    background-size: cover;
}
.video{
    position:absolute;
    right:0;
    bottom:0;
    z-index: -1;
    
}
.container{
    color:white;
}
.dropdown a{
    text-decoration: none;
    color:white;
    background-color: rgba(97, 103, 103, 0.501);
    position:absolute;
    left:120%;
    padding:30px;
    position:relative;
    display:fixed;
   
    

    
    

}
    
.container .menu a{
    color:white;
    text-decoration:none;
    position:relative;
    left:200%;
    top:200px;
    
    font-size:20px;
    padding:20px;
    background: none;
    
}
 img{
    width:30%;
   
    position: absolute;
    bottom:20px;
    left:10%;
    padding:5px;

}


.container h{
    position:absolute;
    top:20%;
    left:15%;
    font-size: 30px;;
}
/* table for the home page drop down */
.dropdown table{
    padding:30px;
    margin-top:20px;
}

.container .menu table{
    margin-bottom:20px;
}
#content{
    width:30%;
    position:absolute;
    right:12%;
    bottom:10%;
}
h1{
    font-size: 50px;;
}
p{
    font-size:20px;
}
.dropdown img1{
    background-color: white;
    border-radius: 50%;
    position:absolute;

}
.moontable table{
    font-size:20px;
}
.moontable table td{
    padding-left:20px;

}
